div.content {width: 1100px; margin: auto;}
div.box {height: 300px;display: flex; padding: 15px}
div.odd {background-color: #DCF4F4; margin-top: 20px; border-radius: 10px; justify-content: center; display: flex;}
div.even {background-color: #F0EAEA; margin-top: 20px; border-radius: 10px; justify-content: center; display: flex;}
div.picture-column{flex: 35%;  position: relative; top: 20%;}
div.text-column{flex: 65%;}
h1 {font: normal bolder 36px Carlito; margin: 0px;}
h2 {margin-bottom: 0px; font-family: Arial, Helvetica, sans-serif; font-size: 32px; font-weight: bold;}
h4 {font: normal normal 24px Courier New,monospace; margin: 0px;}
p  {font-family: IBMPlex;}
ul {list-style-type: none;}
li {font-family: IBMPlex; font-weight: bold; margin-bottom: 24px; font-size: 15; line-height: 24px;}

@font-face {font-family: IBMPlex; src:url('fonts/IBMPlexMono-Light.ttf') format('truetype');}
@font-face {font-family: Carlito; src:url('fonts/Carlito-Regular.ttf') format('truetype');}