body {margin: 0px}
div.content {width: 1100px; margin: auto;}
div.box {height: 300px;display: flex; padding: 20px}
div.footer {height: 24px; padding: 25px; padding-inline: 35px; background-color: #D6D6D6; border-top-right-radius: 15px; border-top-left-radius: 15px; margin-top: 30px; overflow: hidden;}
div.odd {background-color: #DCF4F4; margin-top: 20px; justify-content: center; display: flex;}
div.even {background-color: #F0EAEA; margin-top: 20px; justify-content: center; display: flex;}
div.first {border-top-left-radius: 15px; border-top-right-radius: 15px;}
div.last {border-bottom-left-radius: 15px; border-bottom-right-radius: 15px;}
div.picture-column{flex: 35%;  position: relative; display:flex; justify-content: center;}
div.text-column{flex: 65%; position: relative; top: 15%}
h1 {font: normal bolder 36px Carlito; margin: 0px;}
h2 {margin-bottom: 0px; margin-top: 0px; font-family: Arial, Helvetica, sans-serif; font-size: 32px; font-weight: bold;}
h4 {font: normal normal 24px Courier New,monospace; margin: 0px;}
p  {font-family: IBMPlex;}
ul {list-style-type: none;}
ul.boxtext {padding-left: 0px;}
li {font-family: IBMPlex; font-weight: bold; margin-bottom: 24px; font-size: 15; line-height: 24px;}
img.anim {transition: transform 0.3s;}
i {float: left; font-size: 24px ;margin-right: 10px;}

.anim:hover {transform: rotate(25deg) scale(1.2);}

a.icon:link {
    color: #3d3d3d;
    background-color: transparent;
    text-decoration: none;
  }
a.icon:visited {
    color: #3d3d3d;
    background-color: transparent;
    text-decoration: none;
  }
a.icon:hover {
    color: #181818;
    background-color: transparent;
    text-decoration: none;
  }
a.icon:active {
    color: #000;
    background-color: transparent;
    text-decoration: none;
  }

@font-face {font-family: IBMPlex; src:url('fonts/IBMPlexMono-Light.ttf') format('truetype');}
@font-face {font-family: Carlito; src:url('fonts/Carlito-Regular.ttf') format('truetype');}